body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

.top,
.bottom {
    background-color: #1F2937;
    color: #e5e7eb;
    font-size: 18px;
    padding: 16px 200px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.hero {
    display: flex;
    color: #e5e7eb;
    margin: 50px 0;
}

.hero-inner {
    padding: 16px;
    color: #e5e7eb;
}

.hero h1 {
        font-size: 48px;
        font-weight: bold;
        color: #F9FAF8;
        margin: 0px;
}

button {
    background-color: #3882f6;
    font-size: 18px;
    color: #F9FAF8;
    border-style: none;
    padding: 8px 24px;
    font-weight: bold;
    border-radius: 15px;
}

.placeholder {
    width: 400px;
}

.grid {
    margin-bottom: 40px;
}

.information {
    text-align: center;
    color: #1f2937;
    font-weight: 800;
    font-size: 36px;
    margin: 36px 0;
}

.container {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.box {
    width: 200px;
    margin: 0px;
}

.box img {
    width: 200px;
    height: 200px;
}

.box figcaption {
    text-align: center;
    margin: 16px 0;
    color: #1f2937
}

.quote {
    background-color: #e5e7eb;
    padding: 100px;
    display: flex;
    justify-content: center;
}

.quote-container {
    width: 800px;
}

.quote span {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1f2937;
}

.quote p {
    text-align: right;
    font-size: 24px;
    font-weight: bold;
    color: #1f2937;
    margin: 0;
}

.call-to-action {
    background-color: #3882f6;
    margin: 75px 200px;
    padding: 64px 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
}

.call-to-action p {
    font-size: 24px;
    padding: 0;
    margin: 4px 0;
    color: #e5e7eb;
    font-weight: bold;
}

.call-to-action span {
    color: #e5e7eb;  
}

.call-to-action .cta {
    border-width: 2px;
    border-style: solid;
    border-color: #e5e7eb;
}

.bottom {
    text-align: center;
    padding: 48px;
}